{
  "server": "localhost",
  "port": 8787,
  "sqlHost": "localhost",
  "sqlPort": 5432,
  "sqlUser": "digest_user",
  "sqlPass": "password",
  "dbname": "digest",
  "rssUrl": "https://g0v.news/feed",
  "mailchimpUrl": "https://us18.api.mailchimp.com/3.0",
  "campaignId": "",
  "templateId": 0,
  "templateId_en": 0,
  "listId": "",
  "listId_en": "",
  "apiKey": ""
}
